:root {
  --gray-border :rgb(155, 155, 155);
  --lavend-shadow:rgb(123, 84, 179);
  --purple-shadow:rgb(83, 57, 120);
  --gray-review:rgb(216, 216, 216);
  --gray-input:rgb(149, 149, 149);
  --purple:rgb(142, 50, 198);
  --dark-blue:rgb(1, 45, 99);
  --main-white:rgb(255, 255, 255);
  --main-gray :rgb(199, 199, 199);
  --black:rgb(2, 22, 53);
  --turquse1-1 :rgb(0, 229, 230);
  --blue1-2 :rgb(0, 168, 247);
  --lavend1-3 :rgb(154, 118, 249);
  --pink1-4 :rgb(204, 94, 194);
  --neon-pink2-1 :rgb(255, 104, 180);
  --magenta2-2 :rgb(255, 69, 225);
  --lavend2-3-4 :rgb(206, 58, 255);
  --yellow3-1:rgb(255, 225, 40);
  --light-orange3-2:rgb(255, 155, 92);
  --light-tomato3-3:rgb(255, 131, 129);
  --raspberry3-4:rgb(255, 84, 137);

}
.header-list {
  display: flex;
  gap: 29px;
  margin-right: 73px;;
}
.header-flex {
  display: flex;
  align-items: center;
}
.header-lang {
  display: flex;
  gap: 5px;
  color: #c7c7c7;
}
.header-logo {
  width: 7%;
  height: 7%;
}
.header {
  background-color: #012d63;
}
.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid rgb(0, 119, 255);
  height: 100%;
}

.hero {
  background-image: url(../img/hero.png);
  width: 1439px;
  height: 858px;
  margin: 0 auto;
}
.logo-nike {
  width: 160px;
  height: 120px;
}
.logo-candr {
  width: 178px;
  height: 86px;
}
.hero-about {
  color: white;
}
.hero-button {
  background-color: rgb(142, 50, 198);
  color: white;
}
.Colo {
  width: 640px;
  height: 52px;
}
.hero-text {
  width: 508px;
}
.work-img {
width: 240px;
height: 346px;
}
.work {
    margin: 0 auto;
    background-image: url(../img/aboutback.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 606px;
}
.work-list{
    display: flex;
    width: 1110px;
    height: 396px;
    border: 5px solid rgb(142, 50, 198);
    padding: 25px 50px 19px;
    justify-content: space-between;
}
.flex-work {
display: flex;
align-items: center;
}
.work-item:first-child, .work-item:nth-child(2) {
    padding-right: 50px;
    border-right: 1px solid rgb(255, 255, 255);
}
.work-item:nth-child(2) {
    padding-right: 95px;
}
.Reviews-item {
width: 225px;
height: 305px;
background-image: linear-gradient(135.00deg, var(--turquse1-1)7.292% , var(--blue1-2)26.042% , var(--lavend1-3)62.5% , var(--pink1-4)100%);
}
.Reviews-list {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 93px;
}
.Reviews {
  background-image: url(../img/revuewsback.png);
}